/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/f1/stm32f103X8.dtsi>
#include <st/f1/stm32f103c(8-b)tx-pinctrl.dtsi>

/ {
	model = "Rocket Flight Logger Board";
	compatible = "st,stm32f103c8";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	esp_en: regulator_esp_en {
		compatible = "regulator-fixed";
		regulator-name = "ESP_EN";
		enable-gpios = <&gpiob 8 GPIO_ACTIVE_HIGH>;
	};

	esp_rst: regulator_esp_rst {
		compatible = "regulator-fixed";
		regulator-name = "ESP_RST";
		enable-gpios = <&gpiob 9 GPIO_ACTIVE_LOW>;
	};
};

&pinctrl {
    swj-cfg = "jtag-disable";
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(8)>;
	status = "okay";
};

&pll {
	mul = <9>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(72)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <2>;
	apb2-prescaler = <1>;
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
	current-speed = <115200>;
	pinctrl-names = "default";
	status = "okay";
};

&usart2 {
	pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
	current-speed = <115200>;
	pinctrl-names = "default";
	status = "okay";
};

&spi1 {
	pinctrl-0 = <&spi1_sck_remap1_master_pb3 &spi1_miso_remap1_master_pb4 &spi1_mosi_remap1_master_pb5>;
	pinctrl-names = "default";
	status = "okay";
	cs-gpios = <&gpioa 15 GPIO_ACTIVE_LOW>;

	w25q16bv: w25q16bv@0 {
		compatible = "jedec,spi-nor";
		spi-max-frequency = <10000000>;
		reg = <0>;
		size = <DT_SIZE_M(16)>;
		jedec-id = [ef 40 15];
		has-dpd;
		t-enter-dpd = <3500>;
		t-exit-dpd = <3500>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			storage_partition: partition@0 {
				label = "storage";
				reg = <0x00000000 DT_SIZE_M(2)>;
			};
		};
	};
};

&spi2 {
	pinctrl-0 = <&spi2_sck_master_pb13 &spi2_miso_master_pb14 &spi2_mosi_master_pb15>;
	pinctrl-names = "default";
	status = "okay";
	cs-gpios = <&gpiob 12 GPIO_ACTIVE_LOW>;

	bmp280: bmp280@0 {
		compatible = "bosch,bme280";
		status = "okay";
		reg = <0>;
		spi-max-frequency = <10000000>;
	};
};

&i2c2 {
	pinctrl-0 = <&i2c2_scl_pb10 &i2c2_sda_pb11>;
	pinctrl-names = "default";
	status = "okay";

	mpu6050: mpu6050@68 {
		compatible = "invensense,mpu6050";
		status = "okay";
		reg = <0x68>;
		int-gpios = <&gpiob 2 GPIO_ACTIVE_HIGH>;
	};
};