&sdmmc1 {
    compatible = "st,stm32-sdmmc";
    pinctrl-0 = <&sdio_d0_pc8 &sdio_d1_pc9
                    &sdio_d2_pc10 &sdio_d3_pc11
                    &sdio_ck_pc12 &sdio_cmd_pd2>;
    pinctrl-names = "default";
    status = "okay";
}; 