# ST7789V_SPI display driver configuration options

menuconfig ST7789V_SPI
	bool "ST7789V_SPI display driver"
	depends on SPI
	help
	  Enable driver for ST7789V_SPI display driver.

choice ST7789V_SPI_PIXEL_FORMAT
	prompt "Color pixel format"
	default ST7789V_SPI_RGB565
	depends on ST7789V_SPI
	help
	  Specify the color pixel format for the ST7789V_SPI display controller.

config ST7789V_SPI_RGB888
	bool "RGB888"

config ST7789V_SPI_RGB565
	bool "RGB565"

endchoice